<p><%= self.current_user.firstname.capitalize %> Profile</p>

<p>Fullname: <%= self.current_user.firstname.capitalize %> <%= self.current_user.lastname.capitalize %></p>

<p>About Yourself: <%= self.current_user.profile %></p>

<p>Your Tags: <%= self.current_user.tags %></p>
