<img src="/images/iStock_000002818582XSmall.jpg" style="float:right;" />

<h2>Show your Profile</h2>

<%= render :partial => 'show' %>

<p>
<%= button_to_function "Go Back", "window.location='/users/edit/'" %>
</p>