Click the link below to reset your password:

<%= @url %>

Sincerely,
          


The AtomPad Team

-----------------------------------------
AtomPad.com        http://www.atompad.com

(c) John Griffiths   http://www.red91.com
