Hi, <%= @user.firstname %>

Thank you for registering, hope you enjoy the site.

http://www.atompad.com

Sincerely,



The AtomPad Team

-----------------------------------------
AtomPad.com        http://www.atompad.com

(c) John Griffiths   http://www.red91.com
