Hi, 

Here is your early morning reminder about the following upcoming event:

-> <%= @reminder.title %>
-> <%= @reminder.date %>

Sincerely,



The AtomPad Team

-----------------------------------------
AtomPad.com        http://www.atompad.com

(c) John Griffiths   http://www.red91.com
