<img src="/images/rss_icon.gif" style="background-color:#F9F7ED; border:0px; width:25px; float:left; font-weight:bold;" />
<div style="font-size:1.1em; padding-top:8px;">
	<a href="http://blog.atompad.com">[ RSS NEWS FEED + BLOG ]</a>
</div>