&copy; John Griffiths 2007  
<a class="email" href="mailto:%6a%6f%68%6e%40%72%65%64%39%31%2e%63%6f%6d">&#106;&#111;&#104;&#110;&#64;&#114;&#101;&#100;&#57;&#49;&#46;&#99;&#111;&#109;</a>
<%= link_to 'Legal Terms', :controller => 'guide', :action => 'legal' %>