<% if not logged_in? %>
<h2>Recent</h2>

<% for @image in @images %>
	<%= link_to image_tag(@image.public_filename(:thumb)), :controller => 'image', :action => 'show', :id => @image %>
<% end %>&nbsp;

<% else %>

<h2>Recent</h2>

	<% for image in self.current_user.images %>
		<%= link_to image_tag(image.public_filename(:thumb)), :controller => 'image', :action => 'show', :id => image %>
	<% end %>&nbsp;

<% end %>