<div style="width:70%; border: 1px solid #999; padding:5px; margin: 0% 15% 0% 15%;">
<h2>Forgot your Password</h2>

<% form_tag do %>
	<p><label for="email">Email:</label><br>
	<%= text_field_tag "email" %></p>
	<p>Enter your email address above and we'll send you instructions on how to
		create a new password.</p>
	   	<%= submit_tag "Reset your Password" %>
<% end %> 
</div>