<li>
	<%= link_to link_to @note.title, :action => 'show', :id => @note %><br />
	<%= link_to '[Show]', :action => 'show', :id => @note %>
 	<%= link_to '[Edit]', :action => 'edit', :id => @note %>
</li>
