body { 
	background-color: #FFF; 
	color: #000; 
	font-family:Tahoma;
	font-size:11px;
	font-weight:normal;
	word-spacing:1px;
  	line-height: 17px;
	padding-top: 5px;
	margin: 0% 1% 0% 1%;
}

body, p, ol, ul, td {
  	font-size: 11px;
  	line-height: 19px;
}

body b {
	font-size:11px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

input {
	font-size: 1.0em;
	background-color: #FFFFFF;
}

a, a:visited { color: #0080FF; text-decoration:none; }
a:hover { color: #0080FF; text-decoration:underline;  }

.content_main a, a:visited { color: #0080FF; text-decoration:none; }
.content_main a:hover { color: #0080FF; text-decoration:underline;  }

.content_sidebar a, a:visited { color: #0080FF; text-decoration:none; }
.content_sidebar a:hover { color: #0080FF; text-decoration:underline;  }

.signup a {
	border: 1px solid #999; padding:3px;  
	color:#FFF;
}
        
.signup a:visited {
	border: 1px solid #999; padding:3px;  
	color:#FFF;
}

.signup a:hover {
	background-color: #000;
	color: #FFF;           
}

.button {
	border: 1px solid #999; 
	padding:5px;
	margin: 1px;
	font-size: 0.95em;
	font-weight: bold;
}

.button a:hover {
	background-color: #FFF;
	color: #000;           
}
                     
.about {
	margin: 0% 10% 0% 10%; 
	width:80%;
	text-align:center;
}

.framed {
	margin: 0% 10% 0% 10%; 
	width:80%; 
}

.signup_form {
	margin: 0% 20% 0% 20%; 
	width:60%; 
	padding:10px; 
	border: 1px solid #999;
}

img {
	/*border:0px solid #777;*/ 
	padding:0px; 
	margin-left:5px;
	margin-bottom:5px; 
	/*background-color:#FFF;*/
}
                            
#menu {               
	width:500px;
	margin-left:390px;
	position:absolute;
	z-index:2;
	margin-top:25px;
	color:#FFF;
}

#menu li {
	display: inline;
	/*padding-right: 10px;*/
	font-size: 0.90em;
	color:#FFF;
}

.even { background: #CDEB8B; }
.odd { background: #FFFF88; }

#main { 
	width:915px;
	padding:0px;
	min-height:510px; 
	margin-left: auto;
	margin-right: auto;	
	/*margin: 0% 10% 0% 10%;*/
	color:#000; 
	background-color:#ae0021;
	position:relative;
	border: 4px solid #A02A2C;
}

#title { font-size:1.9em; margin:5px; font-variant:small-caps; }

#header {
	padding:3px; 
	width:95%             
	border-bottom: 3px solid #999;
}

#footer {
	/*position:absolute;*/
	width: 99%;
	margin: 0% 1% 0% 1%;
	bottom:auto;
	text-align:center;
	font-size:0.90em; 
	padding-top:3px;
	color: #000;
	clear:both;
}

#footer a { color: #000; }
#footer a:visited { color: #000; }
#footer a:hover { color: #000; }

#primary {
	min-height:100%; 
	padding-left:10px; 
	border:0px; 
	margin:20px; 
	font-size:0.8em;
}                         

.guides li {
	list-style: none;
	display: block;
	border: 1px solid #999;
	padding:3px;
}
    
.box {
	margin: 5% 10% 5% 10%;	
	width:80%;
	padding:3px; 
	height:230px; 
	background-color:#FFF;
	border: 4px solid #999;
}   

.user {
	width:50%;
	height:80%;
	float:right;
}
                             
.content {
	background-color:#990033;
	width:99%; 
	border:0px; 
}


/* rails styling */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #000;
}

#errorExplanation p {
  color: #000;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation {
  color: #000;
	
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

.notification {
	width: 12%;
	color: #000;
	padding:2px;
	text-align:left;
	/*font-weight:bold;*/
	font-size:12px;
	float:left;
}
